<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" 
        path="*" 
        verb="*" 
        modules="FastCgiModule"
        scriptProcessor="C:\msys64\mingw64\bin\python3.exe|C:\msys64\mingw64\lib\python3.9\site-packages\wfastcgi.py"
        resourceType="Unspecified" 
        requireAccess="Script"/>
    </handlers>
    <directoryBrowse enabled="true" />    
  </system.webServer>
  <appSettings>
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\DESARROLLO"/>
  <!-- The handler here is specific to Bottle; see the next section. -->
  <add key="WSGI_HANDLER" value="main.app" />  
</appSettings>
</configuration>