<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" 
        path="*" 
        verb="*" 
        modules="httpPlatformHandler"        
        resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="C:\Users\pmartes\AppData\Local\ESRI\conda\envs\arcgispro-py3-clone\python.exe"
                  arguments="C:\inetpub\wwwroot\DESARROLLO\main.py --port 8000"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\log\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="SERVER_PORT" value="8000" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
  
</configuration>